@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    width: 100%;
    height: 100%;
}

:root {
    --transcribee-word-highlight-color: lightgreen;
}

@media (prefers-color-scheme: dark) {
    :root{
        --transcribee-word-highlight-color: green;
    }
}

.break-word {
    word-break: break-word;
}

.select-none::selection, .select-none *::selection {
  background: transparent;
}
